@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header{
    width: 100%;
    font-family: "Roboto", sans-serif;
    height: 70px;
    margin: 0 auto;
    background-color: #5B1AD1;
}
nav li{
    list-style: none;
    float: right;
    padding-top: 23px;
    padding-right: 20px;
}
select{
    border: 0 solid #5B1AD1;
    font-size: 24px;
    background-color: #5B1AD1;
    color: #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.login-page {
    font-family: "Roboto", sans-serif;
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form {
    position: relative;
    border: 1px solid #5B1AD1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #5B1AD1;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
}
input:not(:last-child){
    padding: 15px;
}
.checkbox{
    display: flex;
}
.checkbox-input{
    width: 20px;
}
.form .button{
    width: 20%;
    float: right;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form .button-input{
    display: flex;
    padding: 0 15px;
    min-width: 50px;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    width: 20%;
    border: 1px solid #5B1AD1;
    color: gray;
    cursor: pointer;
    justify-content: center;
}
.form .button-input:hover,.form button:active,.form button:focus {
    background: #5B1AD1;
    color: white;
}
.sources{
    padding-top: 7px;
    padding-left: 70px;
    float: left;
}
footer{
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 150px;
    background-color: #5B1AD1;
    color: #ccc;
    font-size: 20px;
    padding-left: 15px;
}