@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	width: 100vw;
}
.top {
	width: 100%;
	height: 743px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #000;
}
.rectangle1 {
	width: 100%;
	height: 743px;
}
.layer19 {
	background-image: url(../img/layer-19.png);
	width: 100%;
	height: 743px;
}
.colorfill1 {
	width: 100%;
	height: 743px;
	background-color: rgba(0,0,0,0.6);
}
header {
	width: 1041px;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.logo {
	width: 116px;
	height: 26px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}
.logo p:nth-child(1) {
	width: 116px;
	height: 26px;
	color: #ffc100;;
	font-family: "Source Sans Pro - Semibold";
	font-size: 35px;
	font-weight: 400;
	line-height: 65.06px;
}
.logo p:nth-child(2) {
	width: 116px;
	height: 26px;
	color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 35px;
	font-weight: 300;
	font-weight: 400;
	line-height: 65.06px;
}
.navigation {
	width: 164px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.loginsignup {
	width: 141px;
	height: 16px;
	color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
}
.rectangle2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 94px;
	height: 40px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	background-color: #f5efec;
}
.top-content {
	width: 863px;
	height: 352px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 89px 373px 89px 364px ;
}
.top-content h3 {
	color: #fff;
	font-family: Roboto;
	font-size: 86px;
	font-weight: 700;
	line-height: 78px;
	text-transform: uppercase;
	
}

.top-content pre {
	font-family: Roboto;
	font-size: 86px;
	font-weight: 700;
	line-height: 78px;
	text-transform: uppercase;
	color: #ffc100;
	display: inline-block;
	
}

.top-content p {
	width: 169px;
	height: 19px;
	color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	display: inline-block;
	margin: 0 auto;
}
.arrow {
	width: 72px;
	height: 52px;
	margin: 35px auto;
}
.shape1 {
	width: 24px;
	height: 24px;
	border: 1px solid #ffffff;
	background-image: url(../img/shape-1.png);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px auto;

}
.rectangle3 {
	width: 72px;
	height: 52px;
	border-radius: 26px;
	border: 1px solid #ffffff;
	background-image: url(../img/rectangle-3.png);

}
.rectangle1 {
	width: 1600px;
	height: 743px;
	background-color: #010101;
}
.howitworks {
	width: 100%;
	height: 710px;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.howitworks .title {
	width: 469px;
	height: 31px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}
.howitworks .title>p{
	width: 469px;
	height: 31px;
	color: #1496d2;
	font-family: Roboto;
	font-size: 41px;
	font-weight: 300;
	line-height: 24.16px;
	text-transform: uppercase;
}
.rectangle4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.group1 {
	width: 342px;
	height: 443px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.group2{
	width: 280px;
	height: 157px;
	color: #000;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;

}
.group2 p {
	width: 280px;
	color: #000;
	line-height: 22px;
}
.group2 p::first-letter {
	font-size: 30px;
	color: #000;
	line-height: 36.42px;
}
.figure {
	width: 342px;
	height: 232px;
}
.rec5 {
	width: 323px;
	height: 232px;
	background-color: #b9b9b9;
}
.layer21 {
	background-image: url(../img/layer-21.png);
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 323px;
	height: 232px;
}
.layer20 {
	background-image: url(../img/layer-20.png);
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 323px;
	height: 232px;
}
.layer22 {
	background-image: url(../img/layer-22.png);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 323px;
	height: 232px;
}
.rec6 {
	background-image: url(../img/rectangle-6.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: 256px;
	height: 66px;
	color: #fff;
}
.rec p {
	width: 201px;
	height: 13px;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 400;
	line-height: 27.31px;
	text-transform: uppercase;
}

.whychoose {
	width: 100%;
	height: 542px;
}
.dark-bg {
	width: 100%;
	height: 542px;
	background-color: #353432;
}
.layer23 {
	
	width: inherit;
	height: inherit;
	background-image: url(../img/layer-23.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.left {
	width: 769px;
	height: 347px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.group3 {
	width: 769px;
	height: 208px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.group3 h2 {
	width: 325px;
	height: 31px;
	color: #ffc100;
	font-family: Roboto;
	font-size: 42px;
	font-weight: 300;
	line-height: 24.16px;
	text-transform: uppercase;
}
.yello {
	width: 317px;
	height: 16px;
	opacity: 0.6;
	color: #ffc100;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 24.16px;
}
.white {
	width: 768px;
	height: 113px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 24.16px;
}
.list {
	width: 330px;
	height: 108px;
}
.list li {
	width: 309px;
	height: 16px;
	color: #ffffff;
}
.ourmembers {
	width: 100%;
	height: 610px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.ourmembers .title {
	width: 276px;
	height: 31px;
}
.ourmembers p {
	width: 276px;
	height: 31px;
	color: #1496d2;
	font-family: Roboto;
	font-size: 42px;
	font-weight: 300;
	line-height: 24.16px;
	text-transform: uppercase;
}
.group4 {
	width: 100%;
	height: 248px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.rec9 {
	width: 248px;
	height: 248px;
	background-color: #6d6d6d;
}
.layer9 {
	width: 248px;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/layer-9.png);
}
.layer24 {
	width: 248px;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/layer-24.png);
}
.layer1 {
	width: 248px;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/layer-1.png);
}
.layer5{
	width: 248px;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/layer-5.png);
}
.layer25{
	width: 248px;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/layer-25.png);
}
.layer4{
	width: 248px;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/layer-4.png);
}
.layer3{
	width: 248px;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/layer-3.png);
}
.layer6{
	width: 248px;
	height: 248px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/layer-6.png);
}
